/* фирменный синий #2196F3 */
/* фирменный черный #000000 */
/* черный для заголовков  #212121 */
/* белый для заголовков #FFFFFF */
/* основной #757575 */
/* белый прозрачный rgba(255, 255, 255, 0.6); */
/* задник темный #2F303A; */
/* задник серый #F5F4FA; */
/* иконки в футере rgba(255, 255, 255, 0.1); */
/* bgc для work rgba(47, 48, 58, 0.8) */
/* прозрачный акцент rgba(33, 150, 243, 0.9); */
/* bgc для модалки rgba(0, 0, 0, 0.2); */
/* border close rgba(0, 0, 0, 0.1); */
/* цвет placeholder rgba(117, 117, 117, 0.5); */

/* переменная времени перехода cubic-bezier(0.4, 0, 0.2, 1); */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --primary-bgc: #2f303a;
  --secondary-bgc: #f5f4fa;
  --wtite-color: #ffffff;
  --black-color: #000000;
  --transparent-white: rgba(255, 255, 255, 0.6);
  --clients-color: #afb1b8;
  --footer-icon-color: rgba(255, 255, 255, 0.1);
  --bgc-work-li: rgba(47, 48, 58, 0.8);
  --portfolio-overlay: rgba(33, 150, 243, 0.9);
  --bgc-modal: rgba(0, 0, 0, 0.2);
  --border-close: rgba(0, 0, 0, 0.1);
  --placeholder-color: rgba(117, 117, 117, 0.5);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Body */

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: var(--wtite-color);
  color: var(--primary-text-color);
}

/* Утилиты */

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;

  /* outline: 2px solid orange; */
}

.section.no-padding {
  padding-top: 0;
}

/* Hidden title */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Logo */

.logo {
  color: var(--accent-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo--black-accent {
  color: var(--black-color);
}

.footer-logo {
  color: var(--wtite-color);
  letter-spacing: 0.03em;
}

/* Header */

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__wrap {
  display: flex;
  align-items: center;
}

/* Site-nav */

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav__item {
  position: relative;
  margin-left: 50px;
}

.site-nav__item:first-child {
  margin-left: 0;
}

.site-nav__link {
  display: block;

  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);

  transition: color 250ms var(--timing-function);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-text-color);
}

.site-nav__link--current::after {
  position: absolute;
  bottom: -1px;

  content: "";
  display: block;
  width: 100%;
  height: 4px;

  background-color: var(--accent-text-color);
  border-radius: 2px;
}

.site-nav__link--current {
  color: var(--accent-text-color);
}

/* Contacts */

.contacts-nav {
  display: flex;
  margin-left: auto;
}

.contacts-nav__link {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--primary-text-color);

  transition: color 250ms var(--timing-function);
}

.contacts-nav__link:hover,
.contacts-nav__link:focus {
  color: var(--accent-text-color);
}

.contacts-nav__item {
  margin-left: 50px;
}

.contacts-nav__item:first-child {
  margin-left: 0;
}

.contacts-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}

/* Hero */

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero-bgc.jpg);
  background-color: #c4c4c4;
  max-width: 1600px;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--wtite-color);
}

/* Section */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  padding-bottom: 50px;
}

/* Feature */

.feature__list {
  display: flex;
  gap: 30px;
}

.feature__item {
  max-width: 270px;
}


.feature__subtitle {
  margin-bottom: 10px;
  
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--title-text-color);
}

.feature__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--secondary-bgc);
}

.feature__icon {
  width: 70px;
  height: 70px;
}

/* Чим ми займаємося */

.work__list {
  display: flex;
  gap: 30px;
}

.work__item {
  position: relative;
}

.work__image {
  display: block;
}

.work__wrap {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 70px;

  background-color: var(--bgc-work-li);
}

.work__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: var(--wtite-color);
}


/* Team  */

.section.team {
  background-color: var(--secondary-bgc);
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-img {
  display: flex;
}

.team-list .item {
  background-color: var(--wtite-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-descr {
  padding: 30px 0;
}

.team-subtitle {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-list .text {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
}

.team-social {
  display: flex;
  justify-content: center;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 100%;
  height: 100%;

  border-radius: 50%;
  background-color: var(--wtite-color);
  color: var(--primary-text-color);

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.social-icon {
  fill: currentColor;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-text-color);
  color: var(--wtite-color);
  outline: transparent;
}

/* Clients */

.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients-item {
  display: flex;
  justify-content: center;
  width: 170px;
  height: 92px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  border: 1px solid var(--clients-color);
  border-radius: 4px;
  color: var(--primary-text-color);

  transition-property: border, color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.clients-icon {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-text-color);
  color: var(--accent-text-color);
  outline: transparent;
}

/* Button */

.button {
  cursor: pointer;
  border-radius: 4px;
  border: 0;

  font-family: inherit;

  color: var(--wtite-color);
  background-color: var(--accent-text-color);
}

.button.primary {
  min-width: 200px;
  padding: 10px 32px;

  color: var(--wtite-color);
  background-color: var(--accent-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.button.secondary {
  min-width: 73px;
  padding: 6px 22px;

  color: var(--title-text-color);
  background-color: var(--secondary-bgc);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.button.primary:hover,
.button.primary:focus {
  background-color: #188ce8;
  outline: transparent;
}

.button.secondary:hover,
.button.secondary:focus,
.button.secondary:active {
  color: var(--wtite-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: transparent;
}

/* Footer */

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--primary-bgc);
}

.page-footer .logo {
  display: block;
  margin-bottom: 20px;
}

.address {
  display: flex;
  flex-direction: column;
}

.location-footer {
  font-size: 14px;
  line-height: 1.5;
  font-style: normal;
  text-decoration: none;

  color: var(--wtite-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.contact-footer {
  margin-top: 9px;

  font-size: 14px;
  line-height: 1.5;
  font-style: normal;
  text-decoration: none;

  color: var(--transparent-white);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.location-footer:hover,
.location-footer:focus {
  color: var(--accent-text-color);
  outline: transparent;
}

.contact-footer:hover,
.contact-footer:focus {
  color: var(--accent-text-color);
  outline: transparent;
}

.footer-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--wtite-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-social {
  margin-left: 70px;
}

.social-link.footer {
  background-color: var(--footer-icon-color);
  color: var(--wtite-color);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.social-link.footer:hover,
.social-link.footer:focus {
  background-color: var(--accent-text-color);
  outline: transparent;
}

.subscribe {
  margin-left: auto;
}

.subscribe-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--wtite-color);
}

.subscribe-form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.subscribe-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;

  color: var(--wtite-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.subscribe-input:hover,
.subscribe-input:focus {
  border-color: var(--accent-text-color);
  outline: transparent;
}

.subscribe.button {
  display: flex;
  position: relative;
}

.subscribe-icon {
  position: absolute;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);

  fill: var(--wtite-color);
}

/* ===== Portfolio-page ==== */

/* Filter */

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

/* Portfolio-content */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
}

.item-descr {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio-subtitle {
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list .text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.portfolio-list .link {
  text-decoration: none;
}

.portfolio-list .image {
  display: block;
}

.portfolio-link {
  display: block;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list .thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: auto;

  width: 100%;
  height: 100%;

  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);

  align-items: center;
  justify-content: center;

  font-size: 18px;
  line-height: 1.56;

  color: var(--wtite-color);
  background-color: var(--portfolio-overlay);
}

.portfolio-overlay > .subject {
  width: 322px;
}

.portfolio-link:hover .portfolio-overlay {
  transform: translateY(0%);
}

/* === Modal === */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--bgc-modal);

  opacity: 1;

  transition: opacity 250ms var(--timing-function),
    visibility 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  /* height: 581px; */

  background-color: var(--wtite-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: scale;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  padding: 0;

  width: 30px;
  height: 30px;
  border-radius: 50%;

  background-color: var(--wtite-color);
  border: 1px solid var(--border-close);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.close-icon {
  fill: currentColor;
}

.close:hover {
  cursor: pointer;
  color: var(--accent-text-color);
}

/* Modal-form */

.modal-form {
  padding: 40px;
  margin-right: auto;
  margin-left: auto;

  color: var(--title-text-color);
}

.form-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;

  margin-bottom: 10px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}

.form-input {
  margin-top: 4px;
  /* padding: 12px 42px; */
  padding-left: 42px;
  padding-right: 42px;
  height: 40px;

  cursor: pointer;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.modal-icon {
  position: absolute;
  top: 29px;
  left: 12px;

  fill: var(--title-text-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.form-input:hover,
.form-input:focus {
  border-color: var(--accent-text-color);
  outline: transparent;
}

.form-input:hover + .modal-icon,
.form-input:focus + .modal-icon {
  fill: var(--accent-text-color);
}

.form-textarea {
  position: relative;
  display: flex;
  flex-direction: column;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}

.textarea-input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--placeholder-color);
}

.textarea-input {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 20px;

  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.textarea-input:hover,
.textarea-input:focus {
  cursor: pointer;
  border-color: var(--accent-text-color);
  outline: transparent;
}

.policy {
  display: flex;
  align-items: center;
}

.modal .button.primary {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.checkbox-label {
  position: relative;
  padding-left: 23px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.71;

  color: var(--primary-text-color);
}

.checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.custome-checkbox {
  position: absolute;
  top: 45%;
  left: 0;
  display: block;
  width: 16px;
  height: 15px;
  transform: translateY(-50%);

  border: 2px solid black;
  border-radius: 4px;

  transition: opacity 250ms var(--timing-function);
}

.checkbox-icon {
  position: absolute;
  top: 45%;
  left: 0;

  opacity: 0;

  transform: translateY(-50%);

  transition: opacity 250ms var(--timing-function);
}

.checkbox-input:checked ~ .checkbox-icon {
  opacity: 1;
}

.checkbox-input:checked + .custome-checkbox {
  opacity: 0;
}

.checkbox-link {
  text-decoration: none;
  color: var(--accent-text-color);
  border-bottom: 1px solid var(--accent-text-color);
}
